@model IEnumerable<LpgConsumptionCostCalculator.Data.Models.LoginData>
@using LpgConsumptionCostCalculator.Data.Models
@{
    ViewBag.Title = "Logs";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Action date
                </th>
                <th>
                    User
                </th>
                <th>
                    Log message
                </th>
                <th>
                    Action duration [ms]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.logTime)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.userName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.logMessage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.requestDuration)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>