@model LpgConsumptionCostCalculator.Web.ViewModels.ChartViewModel
@using LpgConsumptionCostCalculator.Data.QueryOptions
@{
    var chartQueryOptions = (ChartQueryOptions)ViewBag.chartQueryOptions;
    string startDate = chartQueryOptions.startingTimeRange != DateTime.MinValue ? RChart.ChartStartDate + @ViewBag.startingdate.ToString("dd/MM/yyyy") : RChart.ChartAllData;
}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h1 class="h3 mb-2 text-gray-800">@RChart.ChartTitle @Model.carData</h1>
    <span class="d-sm-inline-block btn btn-sm btn-secondary shadow-sm" style="width: 170px" type="button" value="Configure" id="@Model.carId" onclick="ReportConfiguratorAsModal(this.id)">
        <i class="fa fa-download fa-sm text-white-50"></i> @RChart.ChartGenerateReport
    </span>
    
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h5 mb-2 text-gray-800">@startDate</h1>
    @Html.BuildChartTimeSelection(chartQueryOptions, "Chart")
</div>

<!-- Row-->
<div class="row">
    <!-- Average fuel consumption -->
    <div class="col-xl-4 col-md-12 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center text-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">@RChart.ChartAvgCons</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.averageFuelCons l</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Min fuel consumption -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center text-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">@RChart.ChartMinCons</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.minFuelCons l</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Max fuel consumption -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center text-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">@RChart.ChartMaxCons</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.maxFuelCons l</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row-->
<div class="row">
    <!-- Average fuel price -->
    <div class="col-xl-4 col-md-12 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center text-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">@RChart.ChartAvgPrice</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.avgPrice PLN</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Total price -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center text-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">@RChart.ChartTotalPrice</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.totalPrice PLN</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Total distance -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center text-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">@RChart.ChartTotalDist</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.totalDistance km</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Area Chart - Price -->
<div class="card shadow mb-4">
    <!-- Card Header -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-gray-800">@RChart.ChartGraphTitle</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="chart-area" style="position: relative; width:90%; height:35vw; text-align:center; margin:auto">
            <canvas id="canvas_1"></canvas>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="chart-area" style="position: relative; width:90%; height:35vw; text-align:center; margin:auto">
            <canvas id="canvas_2"></canvas>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="Modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
    //script for showing raportConfigurator as a modal
    function ReportConfiguratorAsModal(id) {
        $.get("@Url.Action("Configure","Report")/" + id,
            function (data) { $('.modal-body').html(data); })
        $('#Modal').modal('show');
    }
    $('#Modal').on('hidden.bs.modal', function (e) {
        $('.modal-body').html("")
    })

    //scripts for dynamically change of charts data based on type of fuel
    var lpgDateLabels = @Html.Raw(Json.Encode(Model.lpgDateTimesArray));
    var lpgConsumptionData = @Html.Raw(Json.Encode(Model.lpgConsumptionArray));
    var lpgPriceData = @Html.Raw(Json.Encode(Model.lpgPriceArray));

    var petrolDateLabels = @Html.Raw(Json.Encode(Model.petrolDateTimesArray));
    var petrolConsumptionData = @Html.Raw(Json.Encode(Model.petrolConsumptionArray));
    var petrolPriceData = @Html.Raw(Json.Encode(Model.petrolPriceArray));

    var dieselDateLabels = @Html.Raw(Json.Encode(Model.dieselDateTimesArray));
    var dieselConsumptionData = @Html.Raw(Json.Encode(Model.dieselConsumptionArray));
    var dieselPriceData = @Html.Raw(Json.Encode(Model.dieselPriceArray));

    var lineChartData1;
    var lineChartData2;

    var ctx1 = document.getElementById("canvas_1").getContext("2d");
    var ctx2 = document.getElementById("canvas_2").getContext("2d");

    if ((petrolConsumptionData != 0) || (dieselConsumptionData != 0)) {
        if (petrolConsumptionData != 0) {
        lineChartData1 = {
                        labels: lpgDateLabels,
                        datasets: [
                            {
                                label: "@RChart.ChartLabelCons",
                                borderColor: 'rgb(255, 99, 132)',
                                backgroundColor: 'rgb(255, 99, 132)',
                                fill: false,
                                data: lpgConsumptionData,
                                yAxisID: "y-axis-1",
                            },
                            {
                                label: "@RChart.ChartLabelPrice",
                                borderColor: 'rgb(54, 162, 235)',
                                backgroundColor: 'rgb(54, 162, 235)',
                                fill: false,
                                data: lpgPriceData,
                                yAxisID: "y-axis-2",
                            }
                        ]
                        };
        lineChartData2 = {
                    labels: petrolDateLabels,
                    datasets: [
                        {
                            label: "@RChart.ChartLabelCons",
                            borderColor: 'rgb(255, 99, 132)',
                            backgroundColor: 'rgb(255, 99, 132)',
                            fill: false,
                            data: petrolConsumptionData,
                            yAxisID: "y-axis-1"
                        },
                        {
                            label: "@RChart.ChartLabelPrice",
                            borderColor: 'rgb(54, 162, 235)',
                            backgroundColor: 'rgb(54, 162, 235)',
                            fill: false,
                            data: petrolPriceData,
                            yAxisID: "y-axis-2"
                        }
                    ]
                    };
        window.onload = function () {
            window.myLine1 = Chart.Line(ctx1, {
            data: lineChartData1,
            options: {
                maintainAspectRatio: false,
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                title: {
                display: true,
                    text: '@RChart.ChartTextLpgConsPrice'
                },
                scales: {
                    xAxes: [{
						scaleLabel: {
							display: true,
							labelString: '@RChart.ChartLabelDate'
						}
					}],
                    yAxes: [{
                        type: "linear",
                        display: true,
                        position: "left",
                        id: "y-axis-1",
                        ticks: {
                            //suggestedMax: 50,
                            //suggestedMin: 0,
                        },
                        scaleLabel:
                        {
                            display: true,
                            labelString: "@RChart.ChartLabelLitres"
                        }
                    },
                    {
                        type: "linear",
                        display: true,
                        position: "right",
                        id: "y-axis-2",
                        ticks: {
                            //suggestedMax: 50,
                            //suggestedMin: 0,
                        },
                        scaleLabel:
                        {
                            display: true,
                            labelString: "PLN"
                        }
                    }
                    ],
                }
            }
        });
            window.myLine2 = Chart.Line(ctx2, {
            data: lineChartData2,
            options: {
                maintainAspectRatio: false,
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                title: {
                display: true,
                text: '@RChart.ChartTextPetrolConsPrice'
                },
                scales: {
                    xAxes: [{
						scaleLabel: {
							display: true,
							labelString: '@RChart.ChartLabelDate'
						}
					}],
                    yAxes: [{
                        type: "linear",
                        display: true,
                        position: "left",
                        id: "y-axis-1",
                        ticks: {
                            //suggestedMax: 50,
                            //suggestedMin: 0,
                        },
                        scaleLabel:
                        {
                            display: true,
                            labelString: "@RChart.ChartLabelLitres"
                        }
                    },
{
                        type: "linear",
                        display: true,
                        position: "right",
                        id: "y-axis-2",
                        ticks: {
                            //suggestedMax: 50,
                            //suggestedMin: 0,
                        },
                        scaleLabel:
                        {
                            display: true,
                            labelString: "PLN"
                        }
                    }
                    ],
                }
            }
        });
        };
        }
        else {
        lineChartData1 = {
                        labels: lpgDateLabels,
                        datasets: [
                            {
                                label: "@RChart.ChartLabelCons",
                                borderColor: 'rgb(255, 99, 132)',
                                backgroundColor: 'rgb(255, 99, 132)',
                                fill: false,
                                data: lpgConsumptionData,
                                yAxisID: "y-axis-1",
                            },
                            {
                                label: "@RChart.ChartLabelPrice",
                                borderColor: 'rgb(54, 162, 235)',
                                backgroundColor: 'rgb(54, 162, 235)',
                                fill: false,
                                data: lpgPriceData,
                                yAxisID: "y-axis-2",
                            }
                        ]
                        };
        lineChartData2 = {
                    labels: dieselDateLabels,
                    datasets: [
                        {
                            label: "@RChart.ChartLabelCons",
                            borderColor: 'rgb(255, 99, 132)',
                            backgroundColor: 'rgb(255, 99, 132)',
                            fill: false,
                            data: dieselConsumptionData,
                            yAxisID: "y-axis-1"
                        },
                        {
                            label: "@RChart.ChartLabelPrice",
                            borderColor: 'rgb(54, 162, 235)',
                            backgroundColor: 'rgb(54, 162, 235)',
                            fill: false,
                            data: dieselPriceData,
                            yAxisID: "y-axis-2"
                        }
                    ]
                    };
        window.onload = function () {
            window.myLine1 = Chart.Line(ctx1, {
            data: lineChartData1,
            options: {
                maintainAspectRatio: false,
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                title: {
                display: true,
                text: '@RChart.ChartTextLpgConsPrice'
                },
                scales: {
                    xAxes: [{
						scaleLabel: {
							display: true,
							labelString: '@RChart.ChartLabelDate'
						}
					}],
                    yAxes: [{
                        type: "linear",
                        display: true,
                        position: "left",
                        id: "y-axis-1",
                        ticks: {
                            //suggestedMax: 50,
                            //suggestedMin: 0,
                        },
                        scaleLabel:
                        {
                            display: true,
                            labelString: "@RChart.ChartLabelLitres"
                        }
                    },
                    {
                        type: "linear",
                        display: true,
                        position: "right",
                        id: "y-axis-2",
                        ticks: {
                            //suggestedMax: 50,
                            //suggestedMin: 0,
                        },
                        scaleLabel:
                        {
                            display: true,
                            labelString: "PLN"
                        }
                    }
                    ],
                }
            }
        });
            window.myLine2 = Chart.Line(ctx2, {
            data: lineChartData2,
            options: {
                maintainAspectRatio: false,
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                title: {
                display: true,
                text: '@RChart.ChartTextPetrolConsPrice'
                },
                scales: {
                    xAxes: [{
						scaleLabel: {
							display: true,
							labelString: '@RChart.ChartLabelDate'
						}
					}],
                    yAxes: [{
                        type: "linear",
                        display: true,
                        position: "left",
                        id: "y-axis-1",
                        ticks: {
                            //suggestedMax: 50,
                            //suggestedMin: 0,
                        },
                        scaleLabel:
                        {
                            display: true,
                            labelString: "@RChart.ChartLabelLitres"
                        }
                    },
{
                        type: "linear",
                        display: true,
                        position: "right",
                        id: "y-axis-2",
                        ticks: {
                            //suggestedMax: 50,
                            //suggestedMin: 0,
                        },
                        scaleLabel:
                        {
                            display: true,
                            labelString: "PLN"
                        }
                    }
                    ],
                }
            }
        });
        };
        }
    }
    else {
    lineChartData1 = {
                    labels: lpgDateLabels,
                    datasets: [
                        {
                            label: "@RChart.ChartLabelCons",
                            borderColor: 'rgb(255, 99, 132)',
                            backgroundColor: 'rgb(255, 99, 132)',
                            fill: false,
                            data: lpgConsumptionData,
                            yAxisID: "y-axis-1",
                        }
                    ]
                    };
    lineChartData2 = {
                labels: lpgDateLabels,
                datasets: [
                    {
                        label: "@RChart.ChartLabelPrice",
                        borderColor: 'rgb(54, 162, 235)',
                        backgroundColor: 'rgb(54, 162, 235)',
                        fill: false,
                        data: lpgPriceData,
                        yAxisID: "y-axis-1"
                    }
                ]
                };
    window.onload = function () {
        window.myLine1 = Chart.Line(ctx1, {
        data: lineChartData1,
        options: {
            maintainAspectRatio: false,
            responsive: true,
            hoverMode: 'index',
            stacked: false,
            title: {
            display: true,
            text: '@RChart.ChartTextLpgCons'
            },
            scales: {
                xAxes: [{
					scaleLabel: {
						display: true,
						labelString: '@RChart.ChartLabelDate'
					}
				}],
                yAxes: [{
                    type: "linear",
                    display: true,
                    position: "left",
                    id: "y-axis-1",
                    ticks: {
                        //suggestedMax: 50,
                        //suggestedMin: 0,
                    },
                    scaleLabel:
                    {
                        display: true,
                        labelString: "@RChart.ChartLabelLitres"
                    }
                }
                ],
            }
        }
    });
        window.myLine2 = Chart.Line(ctx2, {
        data: lineChartData2,
        options: {
            maintainAspectRatio: false,
            responsive: true,
            hoverMode: 'index',
            stacked: false,
            title: {
            display: true,
            text: '@RChart.ChartTextLpgPrice'
            },
            scales: {
                xAxes: [{
					scaleLabel: {
						display: true,
						labelString: '@RChart.ChartLabelDate'
					}
				}],
                yAxes: [
                {
                    type: "linear",
                    display: true,
                    position: "left",
                    id: "y-axis-1",
                    ticks: {
                        //suggestedMax: 50,
                        //suggestedMin: 0,
                    },
                    scaleLabel:
                    {
                        display: true,
                        labelString: "PLN"
                    }
                }
                ],
            }
        }
    });
    };
    }
    ///
    </script>
}
