@model LpgConsumptionCostCalculator.Web.ViewModels.FuelReceiptViewModel



<h1 class="h4 mb-2 text-gray-800 text-center">Are you sure you want to delete this receipt?</h1>
<div class="text-center">
    <hr />
    <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header font-weight-bold py-0">
                    @Html.DisplayNameFor(model => model.RefuelingDate)
                </div>
                <div class="card-body">
                    @Html.ValueFor(model => model.RefuelingDate, "{0:yyyy/MM/dd}")
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-6 col-lg-6">
            <div class="card shadow mb-4 ">
                <div class="card-header font-weight-bold py-0">
                    @Html.DisplayNameFor(model => model.PetrolStationName)
                </div>
                <div class="card-body">
                    @Html.DisplayFor(model => model.PetrolStationName)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4 col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <div class="card-header font-weight-bold py-0">
                    @Html.DisplayNameFor(model => model.FuelType)
                </div>
                <div class="card-body">
                    @Html.DisplayFor(model => model.FuelType)
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <div class="card-header font-weight-bold py-0">
                    @Html.DisplayNameFor(model => model.FuelPrice)
                </div>
                <div class="card-body">
                    @Html.DisplayFor(model => model.FuelPrice)
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <div class="card-header font-weight-bold py-0">
                    @Html.DisplayNameFor(model => model.FuelAmount)
                </div>
                <div class="card-body">
                    @Html.DisplayFor(model => model.FuelAmount)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header font-weight-bold py-0">
                    @Html.DisplayNameFor(model => model.DistanceFromLastRefueling)
                </div>
                <div class="card-body">
                    @Html.DisplayFor(model => model.DistanceFromLastRefueling)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header font-weight-bold py-0">
                    @Html.DisplayNameFor(model => model.FuelConsumption)
                </div>
                <div class="card-body">
                    @Html.DisplayFor(model => model.FuelConsumption)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header font-weight-bold py-0">
                    @Html.DisplayNameFor(model => model.PriceFor100km)
                </div>
                <div class="card-body">
                    @Html.DisplayFor(model => model.PriceFor100km)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header font-weight-bold py-0">
                    @Html.DisplayNameFor(model => model.Comment)
                </div>
                <div class="card-body">
                    @Html.DisplayFor(model => model.Comment)
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <input type="submit" value="Delete" class="btn btn-outline-danger btn-sm" style="width : 60px" />
            <button type="button" class="btn btn-outline-dark btn-sm" style="width : 60px" data-dismiss="modal">Close</button>
        </div>
    }
</div>

