@model LpgConsumptionCostCalculator.Web.ViewModels.FuelReceiptViewModel

<div>
    <h4>FuelReceiptViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FuelReceiptId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelReceiptId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FueledCarId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FueledCarId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefuelingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefuelingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetrolStationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetrolStationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistanceFromLastRefueling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistanceFromLastRefueling)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelConsumption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelConsumption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceFor100km)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceFor100km)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
