@model LpgConsumptionCostCalculator.Web.ViewModels.FuelReceiptViewModel

<div>
    <h3>Receipt (@Html.DisplayFor(model => model.PetrolStationName) - @Html.ValueFor(model => model.RefuelingDate, "{0:yyyy/MM/dd}")) details</h3>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.RefuelingDate)
        </dt>

        <dd>
            @Html.ValueFor(model => model.RefuelingDate, "{0:yyyy/MM/dd}")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetrolStationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetrolStationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistanceFromLastRefueling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistanceFromLastRefueling)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelConsumption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelConsumption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceFor100km)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceFor100km)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FuelReceiptId }, new { @class = "btn btn-outline-dark btn-sm" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.FuelReceiptId }, new { @class = "btn btn-outline-dark btn-sm" })
    @Html.ActionLink("Back to List", "Index", new { id = Model.FueledCarId }, new { @class = "btn btn-outline-dark btn-sm" })
</p>

