@model LpgConsumptionCostCalculator.Web.ViewModels.FuelReceiptViewModel


<h1 class="h4 mb-2 text-gray-800 text-center">@RFuelReceipts.DetailsReceipt (@Html.DisplayFor(model => model.PetrolStationName) - @Html.ValueFor(model => model.RefuelingDate, "{0:yyyy/MM/dd}")) @RFuelReceipts.DetailsDetails</h1>
<div class="text-center">
    <hr />

    <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header font-weight-bold py-0">
                    @Html.DisplayNameFor(model => model.RefuelingDate)
                </div>
                <div class="card-body">
                    @Html.ValueFor(model => model.RefuelingDate, "{0:yyyy/MM/dd}")
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header font-weight-bold py-0">
                    @Html.DisplayNameFor(model => model.PetrolStationName)
                </div>
                <div class="card-body">
                    @Html.DisplayFor(model => model.PetrolStationName)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4 col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <div class="card-header font-weight-bold py-0">
                    @Html.DisplayNameFor(model => model.FuelType)
                </div>
                <div class="card-body">
                    @Html.DisplayFor(model => model.FuelType)
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <div class="card-header font-weight-bold py-0">
                    @Html.DisplayNameFor(model => model.FuelPrice)
                </div>
                <div class="card-body">
                    @Html.DisplayFor(model => model.FuelPrice)
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <div class="card-header font-weight-bold py-0">
                    @Html.DisplayNameFor(model => model.FuelAmount)
                </div>
                <div class="card-body">
                    @Html.DisplayFor(model => model.FuelAmount)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header font-weight-bold py-0">
                    @Html.DisplayNameFor(model => model.DistanceFromLastRefueling)
                </div>
                <div class="card-body">
                    @Html.DisplayFor(model => model.DistanceFromLastRefueling)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header font-weight-bold py-0">
                    @Html.DisplayNameFor(model => model.FuelConsumption)
                </div>
                <div class="card-body">
                    @Html.DisplayFor(model => model.FuelConsumption)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header font-weight-bold py-0">
                    @Html.DisplayNameFor(model => model.PriceFor100km)
                </div>
                <div class="card-body">
                    @Html.DisplayFor(model => model.PriceFor100km)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header font-weight-bold py-0">
                    @Html.DisplayNameFor(model => model.Comment)
                </div>
                <div class="card-body">
                    @Html.DisplayFor(model => model.Comment)
                </div>
            </div>
        </div>
    </div>
</div>

<p class="text-center">
    @if (Context.User.Identity.IsAuthenticated)
    {
        @Html.ActionLink(RFuelReceipts.DetailsEdit, "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-dark btn-sm", @style = "width: 70px" })
        <input class="btn btn-outline-danger btn-sm" style="width : 70px" type="button" value="@RFuelReceipts.DetailsDelete" id="@Model.Id" onclick="FuelReceiptDeleteAsModal(this.id)">
    }
    <button type="button" class="btn btn-outline-dark btn-sm" style="width : 70px" data-dismiss="modal">@RFuelReceipts.DetailsClose</button>
</p>

<!-- Modal -->
<div id="Modal" class="modal modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
    function FuelReceiptDeleteAsModal(id) {
        $.get("@Url.Action("Delete","FuelReceipts")/" + id,
            function (data) { $('.modal-body').html(data); })
        $('#Modal').modal('show');
    }

    $('#Modal').on('hidden.bs.modal', function (e) {
        $('.modal-body').html("")
    })
    </script>
}