@model LpgConsumptionCostCalculator.Web.ViewModels.FuelReceiptViewModel

<div>
    <h5>Receipt (@Html.DisplayFor(model => model.PetrolStationName) - @Html.ValueFor(model => model.RefuelingDate, "{0:yyyy/MM/dd}")) details</h5>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.RefuelingDate)
        </dt>

        <dd>
            @Html.ValueFor(model => model.RefuelingDate, "{0:yyyy/MM/dd}")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetrolStationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetrolStationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistanceFromLastRefueling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistanceFromLastRefueling)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelConsumption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelConsumption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceFor100km)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceFor100km)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-dark btn-sm" })
    <input class="btn btn-outline-dark btn-sm" type="button" value="Delete" id="@Model.Id" onclick="FuelReceiptDeleteAsModal(this.id)">
    <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Back to List</button>
</p>

<!-- Modal -->
<div id="Modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
    function FuelReceiptDeleteAsModal(id) {
        $.get("@Url.Action("Delete","FuelReceipts")/" + id,
            function (data) { $('.modal-body').html(data); })
        $('#Modal').modal('show');
    }

    $('#Modal').on('hidden.bs.modal', function (e) {
        $('.modal-body').html("")
    })
    </script>
}