<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LPG Consumption Costs Calculator</title>
    <link rel="shortcut icon" type="image/ico" href="@Url.Content("~/favicon.ico")">
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/multiLang")
</head>
<body id="page-top">
    <!--Page wrapper-->
    <div id="wrapper">
        <!--Sidebar-->
        @Html.Action("Menu", "Navigation")
        <!--End of sidebar-->
        <!--Content wrapper-->
        <div id="content-wrapper" class="d-flex flex-column">
            <!--Main content-->
            <div id="content">
                <!--Topbar-->
                <nav class="navbar navbar-expand navbar-dark bg-gradient-secondary topbar mb-4 static-top shadow">
                    <ul class="navbar-nav" style="list-style:none;">
                        <li style="display:inline;">
                            <a href="" class="setLang" data-lang="pl-PL"><img style="width: 30px; height: 30px" title="PL" src="@Url.GetImage("poland.png",false)" /></a>
                        </li>
                        <li style="display:inline;">
                            <a href="" class="setLang" data-lang="en-US"><img style="width: 30px; height: 30px" title="EN" src="@Url.GetImage("usa.png", false)" /></a>
                        </li>
                    </ul>
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav ml-auto">
                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user fa-fw mr-2 text-gray-200"></i>
                                    <span class="mr-2 d-none d-lg-inline text-gray-200 small">@RGlobal.Hello <b>@Context.User.Identity.Name</b></span>
                                </a>

                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-left shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a class="dropdown-item text-gray-800" onclick="document.getElementById('logout_form').submit();" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fa fa-sign-out fa-sm fa-fw"></i>
                                        @RGlobal.LogOut
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <form action="/Account/Logout" method="post" id="logout_form"></form>
                    }

                    else
                    {
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link text-gray-200" href="/Account/Login">
                                    <i class="fa fa-sign-in fa-fw mr-2 "></i>
                                    <span>@RGlobal.LogIn</span>
                                </a>
                            </li>
                        </ul>
                    }
                </nav>
                <!--End of top bar-->
                <!--Begin page content-->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!--End of page content-->
            </div>
            <!--End of main content-->
            <!--Footer-->
            <footer class="sticky-footer bg-gradient-secondary">
                <div class="container my-auto">
                    <div class="copyright text-center text-gray-300 my-auto">
                        <i class="fa fa-copyright"></i>
                        <span>@DateTime.Now.Year - LPG Consumption Costs Calculator - @Html.ActionLink("Privacy", "Privacy", "Home", null, new { @class = "text-gray-300" })</span>
                    </div>
                </div>
            </footer>
            <!--End of footer-->
        </div>
        <!--End of content wrapper-->
    </div>
    <!--End of page wrapper-->
    <!--Scroll to top button-->
    <a class="scroll-to-top rounded" href="#page-top" style="display: none;">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/Scripts/umd/popper.min.js"></script>
    @Scripts.Render("~/bundles/jqueryeasing")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Custom scripts for all pages-->
    <script src="~/Content/Scripts/sb-admin-2.min.js"></script>
    @Scripts.Render("~/bundles/chartjs")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {

            var lang = MultiLanguageDemo.Cookies.getCookie("LangForMultiLanguage");
            $(".setLang[data-lang='" + lang + "'] img").addClass("active-lang");

            $(".setLang").on("click", function (event) {
                var lang = $(this).attr("data-lang");
                MultiLanguageDemo.Cookies.setCookie("LangForMultiLanguage", lang, 30);
                location.reload(true);
            })
        });
    </script>
</body>
</html>