@model LpgConsumptionCostCalculator.Web.ViewModels.CarViewModel


<h1 class="h4 mb-2 text-gray-800 text-center">@RCars.DeleteQuestion @Html.DisplayFor(model => model.CarProducer) @Html.DisplayFor(model => model.CarModel)?</h1>
<div class="text-center">
    <hr />
    <div class="card shadow mb-4">
        <div class="card-header font-weight-bold py-0">
            @Html.DisplayNameFor(model => model.CarProducer)
        </div>
        <div class="card-body">
            @Html.DisplayFor(model => model.CarProducer)
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header font-weight-bold py-0">
            @Html.DisplayNameFor(model => model.CarModel)
        </div>
        <div class="card-body">
            @Html.DisplayFor(model => model.CarModel)
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header font-weight-bold py-0">
            @Html.DisplayNameFor(model => model.CarProductionYear)
        </div>
        <div class="card-body">
            @Html.DisplayFor(model => model.CarProductionYear)
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header font-weight-bold py-0">
            @Html.DisplayNameFor(model => model.LpgInstallationProducer)
        </div>
        <div class="card-body">
            @Html.DisplayFor(model => model.LpgInstallationProducer)
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header font-weight-bold py-0">
            @Html.DisplayNameFor(model => model.LpgInstallationModel)
        </div>
        <div class="card-body">
            @Html.DisplayFor(model => model.LpgInstallationModel)
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <input type="submit" value="@RCars.DeleteDelete" class="btn btn-outline-danger btn-sm" style="width : 70px" />
            <button type="button" class="btn btn-outline-dark btn-sm" style="width : 70px" data-dismiss="modal">@RCars.DeleteClose</button>
        </div>
    }
</div>