@model LpgConsumptionCostCalculator.Data.Models.Car


<h5>Are you sure you want to delete @Html.DisplayFor(model => model.CarProducer) @Html.DisplayFor(model => model.CarModel)?</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarProducer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarProducer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarProductionYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarProductionYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpgInstallationProducer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpgInstallationProducer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpgInstallationModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpgInstallationModel)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-outline-dark btn-sm" />
        <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Back to List</button>
    </div>
    }
</div>