@model LpgConsumptionCostCalculator.Data.Models.Car

<h1 class="h4 mb-2 text-gray-800 text-center">@Html.DisplayFor(model => model.CarProducer) @Html.DisplayFor(model => model.CarModel) details</h1>
<div class="text-center">
    <hr />

    <div class="card shadow mb-4">
        <div class="card-header font-weight-bold py-0">
            @Html.DisplayNameFor(model => model.CarProducer)
        </div>
        <div class="card-body">
            @Html.DisplayFor(model => model.CarProducer)
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header font-weight-bold py-0">
            @Html.DisplayNameFor(model => model.CarModel)
        </div>
        <div class="card-body">
            @Html.DisplayFor(model => model.CarModel)
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header font-weight-bold py-0">
            @Html.DisplayNameFor(model => model.CarProductionYear)
        </div>
        <div class="card-body">
            @Html.DisplayFor(model => model.CarProductionYear)
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header font-weight-bold py-0">
            @Html.DisplayNameFor(model => model.LpgInstallationProducer)
        </div>
        <div class="card-body">
            @Html.DisplayFor(model => model.LpgInstallationProducer)
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header font-weight-bold py-0">
            @Html.DisplayNameFor(model => model.LpgInstallationModel)
        </div>
        <div class="card-body">
            @Html.DisplayFor(model => model.LpgInstallationModel)
        </div>
    </div>
</div>

<p class="text-center">
    @if (Context.User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-dark btn-sm", @style = "width: 60px" })
        <input class="btn btn-outline-danger btn-sm" style="width : 60px" type="button" value="Delete" id="@Model.Id" onclick="CarDeleteAsModal(this.id)">
    }
    <button type="button" class="btn btn-outline-dark btn-sm" style="width : 60px" data-dismiss="modal">Close</button>
</p>

<!-- Modal -->
<div id="Modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>
    function CarDeleteAsModal(id) {
        $.get("@Url.Action("Delete","Cars")/" + id,
            function (data) { $('.modal-body').html(data); })
        $('#Modal').modal('show');
    }

    $('#Modal').on('hidden.bs.modal', function (e) {
        $('.modal-body').html("")
    })
</script>
}