@model IEnumerable<LpgConsumptionCostCalculator.Data.Models.Car>
@using LpgConsumptionCostCalculator.Data.Models
@{
    ViewBag.Title = "List of cars";
    var queryOptions = (QueryOptions)ViewBag.QueryOptions;
}


<h1 class="display-4">@ViewBag.Title</h1>

@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-outline-dark" })
<p></p>

@using (Html.BeginForm("Index", "Cars", FormMethod.Get))
{
    <div class="form-horizontal">
        <div class="form-row">
            <input type="text" name="searchString" class="form-control form-control-sm" />
            <input type="submit" value="Search" id="btnSubmit" class="btn btn-outline-dark btn-sm" />
        </div>
    </div>
}

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.BuildSortableLink("Manufacturer", "Index", "CarProducer", queryOptions)
            </th>
            <th>
                @Html.BuildSortableLink("Model", "Index", "CarModel", queryOptions)
            </th>
            <th>
                @Html.BuildSortableLink("Production year", "Index", "CarProductionYear", queryOptions)
            </th>
            <th>
                @Html.BuildSortableLink("LPG installation manufacturer", "Index", "LpgInstallationProducer", queryOptions)
            </th>
            <th>
                @Html.BuildSortableLink("LPG installation model", "Index", "LpgInstallationModel", queryOptions)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.CarProducer)</b>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarProductionYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LpgInstallationProducer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LpgInstallationModel)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-dark btn-sm" })
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-dark btn-sm" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-dark btn-sm" })
                </td>
            </tr>
        }
    </tbody>

</table>

<div class="container-fluid">
    <div class="row justify-content-md-end">
        <div class="col-md-auto">
            @Html.BuildPaginationDetails(queryOptions, "Index")
        </div>
        <div class="col-md-auto">
            @Html.BuildNextPreviousLinks(queryOptions, "Index")
        </div>
    </div>
</div>



