@model IEnumerable<LpgConsumptionCostCalculator.Web.ViewModels.CarViewModel>
@using LpgConsumptionCostCalculator.Data.QueryOptions
@{
    ViewBag.Title = RCars.IndexTitle;
    var queryOptions = (TableQueryOptions)ViewBag.QueryOptions;
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>

<!-- Content row -->
<div class="row">
    @if (Context.User.Identity.IsAuthenticated)
    {
        <!-- Create button -->
        <div class="col-md-5 col-sm-6 col-xl-3 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-gray-800">@RCars.CreateNewCar</h6>
                </div>
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            @Html.ActionLink(RCars.CreateCreate, "Create", null, new { @class = "btn btn-outline-dark btn-block" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search -->
        <div class="col-md-7 col-sm-6 col-xl-9 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-gray-800">@RCars.IndexSearch</h6>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Index", "Cars", FormMethod.Get))
                    {
                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" name="searchString" class="form-control bg-light border-0 small" placeholder="@RCars.IndexSearchPlaceholder" aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-dark" value="Search" id="btnSubmit" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-gray-800">@RCars.IndexSearch</h6>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Index", "Cars", FormMethod.Get))
                    {
                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" name="searchString" class="form-control bg-light border-0 small" placeholder="@RCars.IndexSearchPlaceholder" aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-dark" value="Search" id="btnSubmit" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    }
</div>

<!-- Content row -->
<div class="row">
    <!-- Table content -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-gray-800">@RCars.IndexTableTitle</h6>
            </div>
            <div class="card-body">
                @Html.BuildPaginationDetails(queryOptions, "Index")
                <br />
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.BuildSortableLink(RCars.IndexManufacturer, "Index", "CarProducer", queryOptions)
                                </th>
                                <th>
                                    @Html.BuildSortableLink(RCars.IndexModel, "Index", "CarModel", queryOptions)
                                </th>
                                <th>
                                    @Html.BuildSortableLink(RCars.IndexProductionYear, "Index", "CarProductionYear", queryOptions)
                                </th>
                                <th>
                                    @Html.BuildSortableLink(RCars.IndexLPGManufacturer, "Index", "LpgInstallationProducer", queryOptions)
                                </th>
                                <th>
                                    @Html.BuildSortableLink(RCars.IndexLPGModel, "Index", "LpgInstallationModel", queryOptions)
                                </th>
                                <th>
                                    @RCars.IndexActions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <b>@Html.DisplayFor(modelItem => item.CarProducer)</b>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CarModel)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CarProductionYear)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LpgInstallationProducer)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LpgInstallationModel)
                                    </td>
                                    <td align="center">
                                        <input class="btn btn-outline-dark btn-sm" style="width: 60px" type="button" value="@RCars.IndexDetails" id="@item.Id" onclick="CarDetailsAsModal(this.id)">
                                        @if (Context.User.Identity.IsAuthenticated)
                                        {
                                            @Html.ActionLink(RCars.IndexEdit, "Edit", new { id = item.Id }, new { @class = "btn btn-outline-dark btn-sm", @style = "width: 60px" })
                                            <input class="btn btn-outline-danger btn-sm" style="width: 60px" type="button" value="@RCars.IndexDelete" id="@item.Id" onclick="CarDeleteAsModal(this.id)">
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @if (queryOptions.TotalPages > 1)
                {
                    @Html.BuildNextPreviousLinks(queryOptions, "Index")
                    <span>@RCars.IndexShowing @((queryOptions.CurrentPage - 1) * queryOptions.PageSize + 1) @RCars.IndexTo @((queryOptions.CurrentPage * queryOptions.PageSize) > ViewBag.NumberOfEntries ? ViewBag.NumberOfEntries : queryOptions.CurrentPage * queryOptions.PageSize) @RCars.IndexOf @ViewBag.NumberOfEntries @RCars.IndexEntries</span>
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="Modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
    function CarDeleteAsModal(id) {
        $.get("@Url.Action("Delete","Cars")/" + id,
            function (data) { $('.modal-body').html(data); })
        $('#Modal').modal('show');
    }
    function CarDetailsAsModal(id) {
        $.get("@Url.Action("Details","Cars")/" + id,
            function (data) { $('.modal-body').html(data); })
        $('#Modal').modal('show');
    }
    $('#Modal').on('hidden.bs.modal', function (e) {
        $('.modal-body').html("")
    })
    </script>
}
